<ion-header-bar class="bar bar-header bar-stable">
  <h1 class="title">Upstarter</h1>
</ion-header-bar>
<ion-header-bar class="bar bar-subheader bar-stable">
  <a href="/#/" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
  <h1 class="title">{{startup.name}}</h1>
</ion-header-bar>

<ion-view view-title="Startup Detail">
  <ion-content class="content padding has-header">
    <div class="top row">
      <div class="momentum col col-50"><img class="company-logo" ng-src="https://res.cloudinary.com/crunchbase-production/{{startup.primary_image[0]}}"></div>
      <div class="col col-50"><div class="momentum-score-title">Momentum Score</div><div class="the-number momentum-score-color">{{startup.fundraisePercentile | number : 1}}</div></div>
    </div>
    <div class="main-content row">
      <div class="col col-50">
        {{startup.description}}</div>
      <div class="stats col col-50">
        <div class="stats-header">At-A-Glance</div>
        <table>
          <tr>
            <td class="stat-type">Offices in</td>
            <td>
              <p ng-repeat="office in startup.offices">{{office.city}}</p>
            </td>
          </tr>
          <tr>
            <td class="stat-type">Employees</td>
            <td>{{startup.number_of_employees}}</td>
          </tr>
          <tr>
            <td class="stat-type">Founded On</td>
            <td>{{startup.founded_on | date : format : timezone}}</td>
          </tr>
          <tr>
            <td class="stat-type">Total Funding</td>
            <td>{{startup.total_funding_usd | currency : symbol : 0}}</td>
          </tr>
          <tr>
            <td class="stat-type">Investments</td>
            <td>{{startup.number_of_investments}}</td>
          </tr>
          <tr>
            <td class="stat-type">Founded by</td>
            <td>
              <p ng-repeat="founder in startup.founders">{{founder.name}}</p>
            </td>
          <tr>
            <td class="stat-type">Company Websites</td>
            <td>
              <div ng-repeat="website in startup.websites"><a href="{{website.url}}">{{website.title}}</a></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col"> FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB FLEB</div>
    </div>
  </ion-content>
</ion-view>