<ion-header-bar class="bar-stable">
  <h1 class="title">UpStarter</h1>

</ion-header-bar>
        <!-- <ion-nav-bar class="bar-positive"> -->
      <!-- </ion-nav-bar> -->
  <ion-tabs class="tabs-positive">
  <ion-tab icon="ion-home" ui-sref="test.first">
    <ion-nav-view name="first"></ion-nav-view>
  </ion-tab>
  <ion-tab icon="ion-help" ui-sref="test.second"><!-- Why doesn't this directly go to test2? have to click on and then off -->
    <ion-nav-view name="second"></ion-nav-view>
  </ion-tab>
</ion-tabs>