/* Empty. Add your own CSS if you like */
body {
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif !important;
  font-weight: 100;
}

.upstarter-logo {
  height: 100%;
  top: 0%;
  left: 37%;
  position: absolute;
  width: 30%;
  text-align: center;
}

.button {
  font-weight: 400;
}

.listing-heading {
  margin: 10px 10px;
  text-align: center;
  font-size: 120%;
}

.item-content {
  padding-top: 0px !important;
  padding-right: 16px !important;
  height: 90px;
}

.company-data {
  width: 80%;
  float: left;
  margin-left: -0.85em;
  font-weight: 200;
}

.company-logo {
  padding-right: -5px;
}

.company-name {
  font-size: 100%;
  padding: 0.3em 0;
  color: rgb(60, 60, 60);
  font-weight: 200;
  border-bottom: 1px rgb(150, 150, 150) solid;
}

.company-info {
  font-style: italic;
  font-size: 53%;
}

.company-info-tidbit {
  line-height: 1.5em;
}

.company-momentum-score {
  margin-right: 9px;
  width: 20%;
  height: 2em;
  line-height: 2em;
  float: right;
  text-align: center;
  font-size: 300%;
}

.momentum-score-header {
  position: absolute;
  right: 3%;
  font-size: 70%;
  display: inline-block;
}

.item-input {
  height: 40px;
}

img {
  margin-left: -6px !important;
}

.hot-startup {
  color: blue;
}

.lukewarm-startup {
  color: green;
}

.not-so-good-startup {
  color: orange;
}

.cold-startup {
  color: red;
}

