/* Empty. Add your own CSS if you like */

body {
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif !important;
  font-weight: 100;
  font-size: 1em;
}

div {
  margin: 0;
  padding: 0;
}

.button {
  margin: 0px 10px;
}

.listing-heading {
  margin: 10px 10px;
  text-align: center;
}

.item-content {
  padding-top: 0px !important;
  padding-right: 16px !important;
  height: 90px;
}


.company-logo {
  /*border: 1px red solid;*/
  width: 20%;
  float: left;
  padding: 5px;
}

.company-data {
  /*border: 1px green solid;*/
  width: 60%;
  max-width: 60%;
  float: left;
  padding: 5px;
  font-weight: 200;
}

.company-name {
  font-size: 130%;
  padding: 5px 0;
  color: rgb(0,0,0);
  font-weight: 100;
  border-bottom: 1px rgb(150, 150, 150) solid;
}


.company-info {
  font-style: italic;
  font-size: 50%;
}

.company-info-tidbit {
  line-height: 14px;
}

.company-momentum-score {
  /*border: 1px blue solid;*/
  width: 20%;
  float: right;
  padding:  17px 5px;
  text-align: center;
  font-size: 300%;
}

.momentum-score-header {
  position: absolute;
  right: 3%;
  font-size: 30%;
  display: inline-block;
}

.item-input {
  height: 30px;
}

.button {
  width: 97%;
}