.company-logo {
  width: 100%;
}

.momentum {
  text-align: center;
}

.momentum-score-title {
  padding-bottom: 1.5em;
  text-align: center;
  font-size: 1;
}

.the-number {
  text-align: center;
  font-size: 4em;
}

.stats-header {
  text-align: center;
}

.stats {
font-size: 0.8em;
}

td {
  padding: 4%;
}

.stat-type {
  font-weight: 400;
}