.company-logo {
  width: 100%;
}

.momentum {
  text-align: center;
}

.momentum-score-title {
  padding-bottom: 1.5em;
  text-align: center;
  font-size: 1;
}

.the-number {
  text-align: center;
  font-size: 4em;
}

.stats-header {
  text-align: center;
}

.stats {
  font-size: 0.8em;
}

td {
  padding-top: 0%;
}

.at-a-glance td {
  padding: 4%;
}

.linkedin-individual td {
  text-align: center;
}

.stat-type {
  font-weight: 400;
}

/*.linkedin td {
  margin-left: 3%;
  padding-left: 3% !important;
}*/



td.ng-binding {
  padding-left: 2%;
  vertical-align: top;
}

.linkedin-info {
  text-decoration: none;
  font-size: 0.8em;
  font-style: italic;
}

.linkedin-pic {
  border-radius: 10%;
}

.linkedin-name {
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
}

.linkedin-header {
  text-align: center;
  font-weight: 200;
  padding-bottom: 2%;
}
